h1 {
    color: red;
}

h1 {
    font-style: oblique;
}
p{ font-style: italic;
}
h2{
    font-style: italic;
}
h2{
    color:blue;
}
p{
    font-style:italic;

}
table{
    border-color: rgb(74, 0, 97);
}
body{
    
    background-color: rgb(42, 165, 83);
}
p{
    color: aqua;
}
p1{
    color: aqua;
}
td{
    color: rgb(255, 255, 255);
    transition: width 2s;
}
li{
    color: aliceblue;
}
a{
    color: azure;
}
hover{
    color: red;
}
.container .items{
    font-size: 2rem;
    font-weight: bold;
    width: 350px;
    height: 100px;
    background-color: aqua;
    margin-top: 1%;
    margin-bottom: 1%;
   
}
.container:hover::before {
    opacity: 1;
}
.container::before {
    content: "KLIK DISINI YA!!!";
  
    position: inherit;
    top: 10;
    left: 10;
    width: 100%;
    height: 100%;
    padding: 5px;|
    margin: 10px;
    background-color: #e74c3c;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

